/* p{
    font-size: 20px;
} */

/* add custom font  */
/*  1.]
copy this url from google fonts and paste it in html page :
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet"> */

/* add custom font  
/*  2.]@ import:
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
</style>*/

p{
    /* font-family: 'lato'; */
    /* font-family: sans-serif; */
    /* font-family: serif; */
    font-family: lato,cursive;
    font-weight: 700 ;
    font-style: italic;
    font-variant: small-caps;
    line-height: 100%;
}